@model WebApp.DTOs.GameDto;
@using System.Security.Claims

@{
    ViewData["Title"] = "Create";

    var identity = (ClaimsIdentity)Context.User.Identity;
    Claim? idClaim = identity.Claims.Where(claim => claim.Type == ClaimTypes.NameIdentifier).FirstOrDefault();
    string? streamerId = idClaim?.Value;

    IEnumerable<QuestionPack> questionPacks = ViewData["QuestionPacks"] as IEnumerable<QuestionPack>;
}


<div class="center">
    <h1>Create</h1>

    <h4>Game</h4>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{

        }
        <div class="form-group">
            <input asp-for="StreamerId" class="form-control" value=@streamerId hidden />
        </div>
        <div class="form-group">
            <label asp-for="TimeLimitSeconds" class="control-label">Time Limit</label>
            <input asp-for="TimeLimitSeconds" class="form-control" />
            <span asp-validation-for="TimeLimitSeconds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModeId" class="control-label">Mode</label>
            <input asp-for="ModeId" class="form-control" />
            <span asp-validation-for="ModeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuestionPackId" class="control-label">Question Pack</label>
            <select asp-for="QuestionPackId" class="form-select" aria-label="Default select example">
                @foreach (QuestionPack questionPack in questionPacks)
                {
                    <option value="@questionPack.Id">@questionPack.Name</option>
                }
            </select>
            <span asp-validation-for="QuestionPackId" class="text-danger"></span>
        </div>
        <input type="submit" value="Save" class="btn login-button" />

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
