@using WebApp.Models;

<div id="game" class="center answer">
    <h1 class="answer-title">@Question.Prompt</h1>
    <div class="answer-grid">
        @for (int i = 0; i < Question.Answers.Count; i++)
        {
            <div class="answer-item">
                <p class="answer-id">#@(i + 1)</p>
                <div>
                    <p>???</p>
                    <p></p>
                </div>
            </div>
        }
    </div>
</div>

<input type="text" value="@Text" @onchange="this.OnChange" />
<button @onclick="CheckAnswer">Send</button>

@code {
    [Parameter]
    public Question<Answer>? Question { get; set; }
    [Parameter]
    public EventCallback<string> Answer { get; set; }
    public string Text { get; set; }

    public void OnChange(ChangeEventArgs e)
    {
        Text = e.Value.ToString();
    }

    public async Task CheckAnswer()
    {
        await Answer.InvokeAsync(Text);
    }
}
