@using Microsoft.AspNetCore.SignalR.Client;
@using WebApp.Models;
<PageTitle>Lobby</PageTitle>

<div>
    <h1>Lobby</h1>
    <p>Time limit</p>
    <p>@TimeLimit</p>
    <h2>Players</h2>
    <button @onclick="Start">Start</button>
</div>

@code {
    [Parameter]
    public EventCallback Game { get; set; }
    [Parameter]
    public int TimeLimit { get; set; }

    public async Task Start() => await Game.InvokeAsync();
}
