@using Microsoft.AspNetCore.SignalR.Client;
@using WebApp.Models;
<PageTitle>Lobby</PageTitle>

<div>
    <h1>Lobby</h1>
    <p>Questions about:</p>
    <h3>@QuestionPackName</h3>
    <h2>Players</h2>
    @foreach (Player player in Players)
    {
        <p>@player.Name</p>
    }
    @if (IsHosting)
    {
        <button @onclick="Start" disabled="@isDisabled">Start</button>
        <button @onclick="CopyLink">Copy join link</button>
        if (isCoppied)
        {
            <p>Coppied!</p>
        }
    }
</div>

@code {
    [Parameter]
    public EventCallback Game { get; set; }
    [Parameter]
    public string QuestionPackName { get; set; }
    [Parameter]
    public List<Player> Players { get; set; }
    [Parameter]
    public bool IsHosting { get; set; }
    [Parameter]
    public EventCallback Link { get; set; }
    private bool isCoppied = false;
    private bool isDisabled = false;

    public async Task Start()
    {
        isDisabled = true;
        await Game.InvokeAsync();
    }

    public async Task CopyLink()
    {
        await Link.InvokeAsync();
        isCoppied = true;
        StateHasChanged();
    }
}
