@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&display=swap');

html {
    font-size: 14px;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.bg-purple {
    background-color: #B69DF8;
    color: white;
}

.navbar {
    background-color: #6750A4;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

.navbar-profile {
    display: flex;
    gap: 10px;
}

.navbar-profile img {
    width: 40px;
    border-radius: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.navbar-offset {
    height: calc(100vh - 170px);
}

.login-button {
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-size: 1.4rem;
    background-color: #6750A4;
    color: white;
    transition: 0.6s;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    overflow: hidden;
}

.login-button:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: white;
}

.login-button:after {
    content: "";
    position: absolute;
    background: linear-gradient(white 10%, transparent 30%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    right: -60px;
    transition: 0.6s;
    top: 0px;
}

.login-button:hover:after {
    transition: 0.3s;
    opacity: 0.2;
}

.login-button-text {
    color: darkgrey;
}

.answer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 20px;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 20px;
    grid-column-gap: 80px;
}

.answer-item {
    display: flex;
    justify-content: center;
    background-color: #B69DF8;
    color: white;
    position: relative;
    text-align: center;
    width: 300px;
    height: 75px;
    font-size: 1.8rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

    .answer-item::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 250px;
        background: linear-gradient(40deg, transparent 50%, #D1C0FF 70%);
        border-radius: 50%;
        top: -10px;
        right: -130px;
    }

.answer-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}

.answer-text p {
    margin: 0;
}

.answer-text-label {
    margin-bottom: -5px !important;
    padding-bottom: 5px !important;
}

.answer-id {
    color: #6750A4;
    padding: 5px;
    position: absolute;
    left: 5px;
    top: 0;
    font-size: 1.2rem;
}

.answer-title {
    color: #6750A4;
    font-weight: 600;
}

.answer-item-answered {
    display: flex;
    justify-content: center;
    background-color: #FDB1B1;
    color: white;
    position: relative;
    text-align: center;
    width: 300px;
    height: 75px;
    font-size: 1.8rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.answer-id-answered {
    color: #D86F6F;
    padding: 5px;
    position: absolute;
    left: 5px;
    top: 0;
    font-size: 1.2rem;
}

.answer-item-answered::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(20deg, #FFD0D0 40%, transparent 100%);
    border-radius: 50%;
    top: -10px;
    left: -130px;
}

.answer-points {
    display: flex;
    align-items: center;
    color: #D86F6F;
    font-size: 1rem;
    font-weight: 600;
}

.answer-points-icon 
{
    font-size: 1rem !important;
}

.answer-stats {
    position: fixed;
    right: 0;
    bottom: 0;
}

.answer-stats-player {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}


.answer-stats-wrong {
    color: #DF7E7E;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    font-size: 3rem !important;
    animation-name: rotate;
    animation-duration: 0.4s;
}

@keyframes rotate {
    0% {
        transform: rotate(-100deg) scale(0);
    }
}

.answer-messages {
    position: fixed;
    left: 20px;
    bottom: 0;
    color: white;
}

.answer-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.answer-input input {
    font-size: 1.2rem;
    padding: 5px;
    border: solid 3px #B69DF8;
    border-radius: 5px;
    color: #6750A4;
    transition: 0.3s;
}

.answer-input input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.answer-input button {
    font-size: 1.2rem;
    padding: 5px;
    border: solid 3px #B69DF8;
    border-radius: 5px;
    background-color: #B69DF8;
    color: white;
    transition: 0.3s;
}

.answer-input button:hover {
    background-color: #D1C0FF;
    border: solid 3px #D1C0FF;
    transition: 0.3s;
}

.background-bottom-left {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.background-top-right {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

