@{
    ViewData["Title"] = "Chat mayhem";
}

<center>
    <h1>Chat mayhem</h1>

    <p>Is your twitch stream boring? Try out chat mayhem where you can play games with your chat!</p>

    <span>
        <a class="btn btn-primary" asp-action="LogIn">Log in</a>
        with Twitch account
    </span>
</center>


