@page
<div class="center answer">
    <h1 class="answer-title">Queres?</h1>
    <div class="answer-grid">
        @for (int i = 0; i < 8; i++)
        {
            <div id=@i class="answer-item">
                <p class="answer-id">#@(i + 1)</p>
                <p>???</p>
            </div>
        }
    </div>
    <div class="">Answer</div>
    <input type="text" id="messageInput" />
    <input type="button" id="sendButton" value="Send Message" />
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
