@page

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>

        <table style="width:100%">
            <tr>
                <th>R1</th>
                <th>R4</th>
                <th>R7</th>
            </tr>
            <tr>
                <td>R2</td>
                <td>R5</td>
                <td>R8</td>
            </tr>
            <tr>
                <td>R3</td>
                <td>R6</td>
                <td>R9</td>
            </tr>
        </table>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>